.page-board-proposals {

    table thead tr > th {
        vertical-align: bottom;
    }

    table tbody tr > td {
        vertical-align: baseline;
    }

    table#proposal-votes {
        max-width: 175px;
    }

    ul.nav-pills .nav-link {
        font-weight: 600;
        font-size: 1.25rem;
    }

}