.page-bod-dashboard {

    .sectionContainer {
    padding: 0.5rem;
        @media (min-width:768px){
            padding: 1rem 0 2rem 2rem;
        }
    }

    .subSectionContainer {
        margin: 1.5rem 0 1.5rem 1.5rem;
    }

    table.property-improvement-requests, table.issues-tracking {
        a {
            text-decoration: none;
            color:inherit;
        }
        tr:hover td {
            color:rgb(13,110,253);
        }
    }

    table#bod-contact-info tr > th {
        vertical-align: bottom;
    }

    table#bod-contact-info tr > td {
        vertical-align: baseline;
    }
}


