.bg-yellow {
    background-color: var(--header-bg-color);
}

li.nav-item a.nav-link {
    font-weight: 400;
    color:#000000;
}

li.nav-item a.nav-link:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

li.nav-item a.nav-link.active {
    font-weight: 600;
}

.searchwp-live-search-results {
    h4.searchwp-live-search-result--title {
        font-family: var(--bs-font-sans-serif) !important;
        font-weight: 400;
        font-size: 0.95rem;
    }
    background-color: var(--header-bg-color) !important;
}


#searchwp-form-1 {
    input.swp-button {
        background-color: rgb(33, 37, 41);
        color:#ffffff;
    }
    input.swp-input {
        padding:4px;
    }
}