/*@import url(https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100..700&display=swap);*/
a {
    text-decoration: none;
}

a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

.bg-dark-yellow {
    background-color:var(--dark-yellow);
}

.border-bod-blue {
    border-color: var(--bod-color-blue)!important;
}

.bg-dark-blue {
    background-color: var(--bod-color-dkblue);
}

h1,h2, h3, h4 {
    font-family: var(--bs-font-serif);
}

h6 span.badge {
    font-size: 0.85rem;
    margin-top:5px;
    padding:.375rem .5rem .4rem .5rem;
    min-width: 6rem;
}

.badge.bg-info, .badge.bg-warning {
    color:#000;
}

a:focus, .btn:focus, a.btn:focus, button, button.accordion-button:focus, select:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

table tr > th, table tr > td {
    font-size: 0.95rem;
    vertical-align: middle;
}

.border-kg-light-grey {
    border-color: --kg-border-light-grey;
}

textarea {
    width: 100%;
}
.pagination {
  margin-top: 1em;
  text-align: center;
}
.pagination .page-numbers {
  display: inline-block;
  margin: 0 4px;
  padding: 0.4em 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  color:#000;
  &:hover {
    background:#000;
    color:#fff;
    text-decoration: none;
  }
}
.pagination .current {
  background: #999; //#0073aa;
  border-radius: 4px;
  color: #fff;
  border-color: #666; //#0073aa;
  &:hover {
    background:#999;
  }
}

table.myvote {
    td.vote-cell { 
        background-color: rgba(0,0,0,0.15);
        .form-check {
            padding-left: 2;
            display: flex;
            justify-content: center;
        }
    }
}
.btn:hover {
    text-decoration: none;
}
.btn-inactive {
    color:#fff;
    background-color: #6c757d;
    border:1px solid #6c757d;
    &:hover {
        color:#fff;
        background-color:#063883;
        border:1px solid #063883;
        text-decoration: none;
    }
}
